* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.75rem;
}

.header-job-title {
    flex-basis: 100%;
    text-align: center;
}

.center-container{
    display: inline-flex;
    border: 2px solid black;
}

.aside-1 {
    width: 25%;
}

.main {
    display: inline-flex;
    width: 100%;
    border: solid black;
    border-width: 0px 0px 0px 2px;
}

.work-container {
    width: 200%;
}

.header-work-experience {
    padding: 0.75rem;
    flex-basis: 100%;
}

.work-container section {
    padding: 0.75rem;
    width: 100%;
    line-height: 1.75;
    border: solid black;
    border-width: 0 0 2px 0;
}

.work-container section:last-child {
    border-width: 0 0 0 0;
}

.projects-container ul li {
    padding: 0.75rem;
    list-style-type: none;
    border: solid black;
    border-width: 0 0 2px 0;
}

.projects-container ul li:last-child {
    border-width: 0 0 0 0;
}

a:link {
    text-decoration: none;
}

.aside-1 {
    padding: 0.75rem;
}

.education-container {
    width: 50;
    padding: 0.75rem;
    border: solid black;
    border-width: 0px 0px 0px 2px;
}

.education-container p {
    margin: 20px 0;
}

.education-container li::marker {
    content: '- '
}

li {
    list-style-position: inside;
}

.article-container {
    display: flex;
    justify-content: space-evenly;
}

.article-container article footer {
    margin-top: 0.75rem;
    line-height: 1.25;
    color: grey;
}

.reviews {
    padding: 1.75rem;
}

article {
      border: 2px solid black;
      width: 200px;
      border-radius: 30px;
      margin: 0.75rem;
      padding: 0.75rem;
}

.footer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}